@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  min-width: 320px;
  font-size: 16px;
  color: #222;
}
header {
  width: 100%;
  background: #fff;
  height: 80px;
  border-bottom: 1px solid #dde7e9;
}
header .header_inner {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
}
header .header_inner h1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
header .header_inner h1 a {
  display: block;
  width: 94px;
  height: 44px;
  background: url("../images/logo.png") no-repeat;
  text-indent: -9999px;
}
header .header_inner .gnb {
  display: flex;
  gap: 50px;
}
header .header_inner .gnb li a {
  font-weight: 700;
  color: #222;
}
header .header_inner .gnb li:hover a {
  color: #f02b3f;
}

/* ================== main ================== */
main .visual {
  position: relative;
}
main .visual img {
  width: 100%;
}
main .visual .slick-arrow {
  width: 25px;
  height: 49px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  text-indent: -99999px;
}
main .visual .slick-prev {
  background: url("../images/btn_left.png") no-repeat;
  left: 20px;
}
main .visual .slick-next {
  background: url("../images/btn_right.png") no-repeat;
  right: 20px;
}
main .visual .slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  display: flex;
  gap: 25px;
}
main .visual .slick-dots li button {
  width: 18px;
  height: 18px;
  background: url("../images/main_dots.png") no-repeat;
  text-indent: -99999px;
}
main .visual .slick-dots .slick-active button {
  background: url("../images/main_dots_1.png") no-repeat;
}

/* =============== search =============== */
main .search {
  width: 100%;
  background: #ff8c97;
}
main .search .inner {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .search .inner > h2 {
  margin-right: 40px;
}
main .search .inner .search_area {
  display: flex;
  margin-right: 24px;
}
main .search .inner .search_area h2 {
  margin-right: 6px;
  display: flex;
  align-items: center;
}
main .search .inner .search_area select {
  width: 150px;
  height: 38px;
  background: #fff url("../images/arrow_on.png") no-repeat 90% center;
  cursor: pointer;
  outline: none;
  border: none;
  text-indent: 10px;
  margin-right: 5px;
  -webkit-appearance: none;
}
main .search .inner .search_area select:last-child {
  margin-right: 0;
}

main .search .inner .search_school {
  display: flex;
}
main .search .inner .search_school input {
  width: 246px;
  height: 38px;
  background: #fff;
  border: none;
  outline: none;
  text-indent: 15px;
  vertical-align: middle;
}
main .search .inner .search_school h2 {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
main .search .inner .search_school .btn_store {
  width: 110px;
  height: 40px;
  background: #fed67e;
  color: #333;
  border: none;
  border: 1px solid #fed67e;
  cursor: pointer;
  vertical-align: middle;
}

/* =============== section1 =============== */
.section1 {
  max-width: 1000px;
  margin: 50px auto 0;
  display: flex;
}
.section1 .box img {
  width: 100%;
}
.section1 .box p {
  text-align: center;
  margin-top: 14px;
  color: #555;
  font-size: 14px;
  line-height: 22px;
}

/* =============== section2 =============== */
.section2,
.section3 {
  max-width: 1000px;
  margin: 80px auto 0;
  text-align: center;
}
.section2 p,
.section3 p {
  font-size: 15px;
  color: #555;
  margin: 15px 0 35px;
  font-weight: 700;
}
.section2 .model_list {
  display: flex;
  flex-wrap: wrap;
}

/* =============== section3 =============== */
.section3 .content_wrap {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.section3 .content_wrap .event {
  width: 30%;
  height: 406px;
}
.section3 .content_wrap .video {
  width: 70%;
  height: 406px;
}
.section3 .content_wrap .video iframe {
  width: 100%;
  height: 100%;
}

/* =============== section4 =============== */
.section4 {
  max-width: 1000px;
  margin: 20px auto 30px;
  border: 2px solid #61c8f3;
  display: flex;
  align-items: center;
}
.section4 h2 {
  background: #61c8f3;
  padding: 0 20px;
}
.section4 .sns_list {
  display: flex;
  width: 100%;
  justify-content: center;
}
.section4 .sns_list li {
  width: calc(100% / 6);
}

/* =============== footer =============== */
footer {
  width: 100%;
  background: #f5f3f4;
}
footer .inner {
  max-width: 1000px;
  height: 135px;
  margin: 0 auto;
  padding: 25px 0;
  border: 1px solid red;
  position: relative;
}
footer .inner .info {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
}
footer .inner .info li {
  position: relative;
}
footer .inner .info li::after {
  content: "";
  width: 1px;
  height: 12px;
  background: #ccc;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
footer .inner .info li:first-child:after {
  display: none;
}
footer .inner .info li a {
  color: #222;
  font-size: 14px;
}
footer .inner address,
footer .inner .copy {
  font-size: 12px;
  color: #999;
  line-height: 18px;
}

.btn_top {
  display: block;
  width: 46px;
  height: 46px;
  background: url("../images/btn_top.png") no-repeat;
  text-indent: -99999px;
  position: absolute;
  top: 0;
  right: -50px;
}

/* ============================= 모바일 기기 ============================= */
@media screen and (max-width: 767px) {
  main .search .inner {
    width: 100%;
    height: 120px;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
  }
  main .search .inner .search_area {
    margin-top: 15px;
  }
  main .search .inner .search_area select {
    width: 200px;
    height: 30px;
  }
  main .search .inner .search_area h2 {
    margin-right: 25px;
  }
  main .search .inner .search_school {
    margin-top: 10px;
  }
  main .search .inner .search_school input {
    width: 292px;
    height: 30px;
  }
  main .search .inner .search_school h2 {
    margin-right: 25px;
  }
  main .search .inner .search_school .btn_store {
    width: 111px;
    height: 30px;
  }
}
